.asteroid-card {
  background-color:rgb(2,17,21, 0.9);
  border-radius: 50px 0% 50px 0%;
  display: inline-block;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin: 10px;
  width: 80%;
}

.p-ac {
  margin: 5px 0px 5px 30%;
  padding: 5px;
  text-align: left;
}

.p-ac-link {
  color: whitesmoke;
  display: inline-block;
  font-style: italic;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: left;
}