
.asteroid-container-nav {
  background-color: #212728;
  min-height: 10vh;
}

p {
  margin: 0;
  color: white;
}

.asteroid-main-section {
  height: 100vh;
  width: 100vw;
}

.neo-weekday {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.asteroid-detailed-info {
  background-image: url('../../images/flame_optical_apod.jpg');
  background-size: cover;
  text-align: center;
}

.react-date-picker{
  background-color: white;
  margin: 5px;
}